<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - Luxurair Private Jet Ticketing Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/">User</a>
        <a href="/">Logout</a>
    </div>
    <form method="post">
        <div class="grid-container">
            <div class="left" style="background-color:hwb(171 33% 46%);">

            </div>
            <div class="middle" style="background-color:#bbb;">
                <label for="flightid">Flight ID:</label><br>
                <input type="text" id="flightid" name="flightid" placeholder="Enter Flight ID" required><br><br>
                <label for="departuredate">Departure Date:</label><br>
                <input type="date" id="departuredate" name="departuredate" required><br><br>
                <label for="destination">Destination:</label><br>              
                    <select id="destination" name="destination" class="form-control" required>
                        <option value="Kuala Lumpur">Kuala Lumpur</option>
                        <option value="Penang">Penang</option>
                        <option value="Redang Islands">Redang Islands</option>
                        <option value="Malacca">Malacca</option>
                        <option value="Perhentian Islands">Perhentian Islands</option>
                        <option value="Langkawi Island">Langkawi Island</option>
                        <option value="Kota Kinabalu">Kota Kinabalu</option>
                        <option value="Pangkor Islands">Pangkor Islands</option>
                        <option value="Tioman Islands">Tioman Islands</option>
                        <option value="Manukan Island">Manukan Island</option>
                        <option value="Sipadan Island">Sipadan Island</option>
                    </select><br><br><br>
                <input type="submit" value="Continue">
                <input type="reset" value="Reset">
            </div>
            <div class="right" style="background-color:hwb(171 33% 46%);">
            
            </div>
        </div>
    </form>
    <div class="footer">
        <p>THANK YOU FOR USING LUXURAIR !</p>
    </div>
</body>
</html>