<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flight Seat Selection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>SEAT SELECTION</h1>
        <h2>{{ flight.origin }} to {{ flight.destination }}</h2>
        <div class="plane-layout">
            <form method="POST">
                {% for seat in row %}
                <div class="seat-row">
                    {% for seat in row %}
                    {% if seat ['available'] %}
                    <input type = "checkbox" id="{{seat ['id']}}" name="seats" value="{{ seat['id']}}">
                    <label for = "{{ seat ['id']}}" class="seat available">{{ seat['id'}}</label>
                    {% else %}
                    <label class="seat booked">{{ seat['id'}}</label>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
                <button type="submit">Book Selected Seats</button>
            </form>
        </div>
    </body>
</html>