
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #24293b;
    color: #66b9df;
    margin: 0;
    padding: 0;
}

header {
    background: #24293b;
    color: #66b9df;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.sidebar {
    width: 200px;
    background: #222;
    color: #fff;
    padding: 15px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.main-content {
    margin-left: 220px; /* Space for the sidebar */
    padding: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
