<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Luxurair</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('booking') }}">Plane Layout</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </nav>
    
    <h1>Welcome to Luxurair !</h1>
    <h3>Available Flights</h3>
    <table id="flights-table">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td>{{ flight.flight_number }}</td>
                <td>{{ flight.departure }}</td>
                <td>{{ flight.arrival }}</td>
                <td>{{ flight.date }}</td>
                <td>{{ flight.time }}</td>
                <td>
                    <form action="{{ url_for('booking') }}" method="GET">
                        <input type="hidden" name="flight_number" value="{{ flight.flight_number }}">
                        <button type="submit">Book Now</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>