<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserProfile - Private Jet Ticketing Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='userprofile.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('booking') }}">Seat Selection</a></li>
        </ul>
    </nav>
    <header>
        <h1>User Profile</h1>
    </header>
    <main>
        <form action="" method="post">
            <p>
                {{form.username.label}} <br>
                {{form.username(size=30)}}
            </p>
            <p>
                {{form.name.label}} <br>
                {{form.name(size=30)}}
            </p>
            <p>
                {{form.email.label}} <br>
                {{form.email(size=30)}}
            </p>
            <p>
                {{form.phonenumber.label}} <br>
                {{form.phonenumber(size=30)}}
            </p>
            <p>{{form.submit()}}</p>  
        </form>
    </main>
</body>

</html>