<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="uft-8">
        <meta name="viewport" content="width=device-widtch, initial-scale=1">
        <title> Home - Luxuair Private Jet Ticketing Service </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
<body>
    <header>
        <h1>Welcome to Luxuair - Private Jet Ticketing Service</h1>
        <nav>
            <a hreft="{{url_for('logout')}}" class="logout-btn">Logout</a>
        </nav>
    </header>
    <main>
        <h2>Hello {{usename}} !</h2>
        <p>Explore our exclusive private jet ticketing options below:</p>

        <table class="flight-table"></table>
            <thread>
                <tr>
                    <th>Flight ID</th>
                    <th>Destination</th>
                    <th>Departure Date</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </thread>
            <tbody>
                {% for flights in flights %}
                <tr>
                    <td>{{ flight.id }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.departure_date }}</td>
                    <td>{{ flight.price }}</td>
                    <td>{{ flight.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>