body {
    height: 100vh; /* Full viewport height */
    background: linear-gradient(to bottom, #94B7BB, #9d7cf8);
    background-size: cover;
    margin: 0;
    color: black; 
    text-align: center;
    font-size: 30px;
}



header {
    background: solid (0,0,0);
    padding: 20px;
    text-align: center;
}

.container {
    border: 5px solid #000000; /* Border color and thickness */
    border-radius: 15px; /* Optional: rounded corners */
    padding: 5%; /* Space between border and content */
    margin: 5%; /* Space from the viewport edges */
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    color: rgb(0, 0, 0); 
}

h2 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 40px;
    color:aliceblue;
    border: #000000;
}

h5 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 40px;
    color:aliceblue;
    border: #000000;

}

input[type="text"]:focus, input[type="password"]:focus {
    width: 100%;
    padding: 15px;
    margin: 8px 0; 
    border: 1px solid #94B7BB; 
    box-shadow: 0 0 5px rgba(148, 183, 187, 0.5);
    outline: none;
    background-color: #f8f9fa; 
}

a {
    color: black;
    text-align: center;
    display: block;
    margin-top: 10px;
}
